pytest~=8.3.5

# For collecting and uploading code coverage to CodeClimate
coverage~=7.6.12
pytest-cov~=6.0.0
codeclimate-test-reporter~=0.2.3
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
